
$color-main: #FF0380 ;
$color-main-light: lighten($color-main, 45%); 

$color2: #cccccc ;

$color4: rgba(210,210,210,0.6);
$color_error: #DC3232 ;
$color_info: #46B450 ;
$box-shadow: 0 1px 3px rgba(0,0,0,.2);

%transition {
	transition: 0.8s all ;
}
