.managerforicomoon-notice {
    margin: 0 0 40px 0;

    .dashicons {
        font-size: 1rem;
        margin-top: 0.35rem;
    }
}
.managerforicomoon-notice.notice-dismiss::before {
    color: #fff ;
}
.managerforicomoon-notice--error,
.managerforicomoon-notice--info{
    box-shadow: none;
    border-width: 0;
    border-radius: 4px;
    color: #fff;
}
.managerforicomoon-notice--error {
    background-color: $color_error ;
}
.managerforicomoon-notice--info {
    background-color: $color_info ;
}