@import '../vars' ;

.managerforicomoon-table {
    margin: 2em 0;
    border-spacing : 0;
    border-collapse : collapse;
    width: 100%;
    
    tr {
        border-bottom: 1px solid $color-main-light;
    }
    
    th, td {
        vertical-align: middle;
        padding: 0.5em;
    }
    th {
        background-color: $color-main ;
        color: #fff;
    }
    code {
        background-color: #666 ;
        color: #fff;
    }
}

.managerforicomoon-page-icons {
    
    .managerforicomoon-td-icon{
        text-align: center;
        i, span {
            font-size: 2em ;
        }
    }
    tr:hover {
        background-color: $color-main-light ;
        color:$color-main;
    }
}
.managerforicomoon-page-icons--copy {
    cursor: pointer;
    &:hover {
        background-color: $color-main;
        color: #fff;
    }
}